@{
    ViewBag.Title = "Index";
}

<h2>Procesos Sin Finalizar</h2>

<p>
    <a href="#" onclick="showPopUp('/Proceso/Editar/0')">Registrar Proceso</a>
</p>
<table class="table table-borderless" id="tablaProcesos">
    <thead>
        <tr>
            <th>
                Institución
            </th>
            <th>
                Estado 
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Fecha Fin
            </th>
            <th>
                Anulado?
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
@section Scripts
{    
    <script src="~/Scripts/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables/dataTables.jqueryui.min.js"></script>

    <script>
        var dialogo;
        var tblProcesos;
        $(document).ready(function () {
            tblProcesos = $('#tablaProcesos').DataTable({
                "ajax": {
                    "url" :"/Proceso/getProcesos",
                    "type": "GET",
                    "dataType": "JSON",
                },
                "columns": [
                    { "data" : "institucion" },
                    { "data" : "estado" },
                    { "data" : "finicio", "render": function (data) { return new Date(parseInt(data.replace('/Date(', ''))).toLocaleDateString(); } },
                    {
                        "data": "ffin", "render": function (data) {
                            if (data != null)
                                return new Date(parseInt(data.replace('/Date(', ''))).toLocaleDateString();
                            else
                                return "Sin Finalizar";
                        }
                    },
                    { "data" : "anulado"},
                    {
                        "data": "id", "render": function (data) {
                            return "<a href='#' onClick=showPopUp('/Proceso/Editar/" + data + "')>Editar </a> | <a href='#'>Eliminar</a> | <a href='#'>Añadir Doc.</a>";
                        }
                    }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });
        function showPopUp(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                dialogo = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    title: "Editar Proceso",
                    height: 400,
                    width: 800,
                    open: function () {
                        $('#fechaInicio').datepicker({ dateFormat: 'dd/mm/yy' });
                        $('#fechaFin').datepicker({ dateFormat: 'dd/mm/yy' });
                    },
                    close: function () {
                        dialogo.dialog('destroy').remove();
                    }

                });
            });
        }

        function submitForm(form) {
            $.validator.unobtrusive.parse(form);
            form.submit(function (event) {
                event.preventDefault();
            });

            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            dialogo.dialog('close');
                            tblProcesos.ajax.reload();
                        } else {
                            alert(data.message);
                        }
                    }
                });
                return false;
            }
        }
    </script>
}