@{
    ViewBag.Title = "Home Page";
}
<!-- Cajas de informacion InfoBoxes -->
<h1>Dashboard</h1>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fa fa-cogs"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">En Proceso</span>
                <span class="info-box-number"><label id="lblProceso"></label></span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-codepen"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">En Calibración</span>
                <span class="info-box-number"><label id="lblCalibracion"></label></span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-success elevation-1"><i class="fa fa-columns"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Revisión Documentos</span>
                <span class="info-box-number"><label id="lblRevision"></label></span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-delicious"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Entrega de Equipos</span>
                <span class="info-box-number"><label id="lblEntrega"></label></span>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    $(document).ready(function () {
        
        loadEstados();
        //setInterval(loadEstados, 3000);
    });

    function loadEstados() {
        $.ajax({
            url: "/Home/getEstados",
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#lblProceso').text(data['proceso']);
                $('#lblCalibracion').text(data['calibracion']);
                $('#lblRevision').text(data['revision']);
                $('#lblEntrega').text(data['entrega']);
            },
            error: function () {
                alert('No se ha logrado cargar los estados');
            }
        });
    }
    function loadGraficos() {

    }
    function loadNotificaciones() {

    }
    function loadMensajes() {

    }
</script>
    }